/*  your css code here. If applicable */
:root {
	background-color:rgb(135,206,235);
}
#ids p:nth-child(1){
	background-color:black;
	color : white;
}
#ids p:nth-child(3){
	color : red;
}
#ul1{
	background-color : gray;
}
#id1,#id3,#id5{
	background-color : white;
}
.allid{
	width : 50%;
	padding : 10px;
}
#id1,#id5{
	font-size : 22px;
}
#id3,#id4,#id5{
	background-color : pink;
}